.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.navbar-brand img {
  transition: transform 0.3s ease;
}
.navbar-brand:hover img {
  transform: rotate(180deg);
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
}
