<!-- templates/core/components/card_display.html -->
<form class="card h-100 pmon-card" id="card-{{ card.card_id }}" style="background-color: #9AA9E3; padding: 5px;">
    {% if card.image_key %}
    <img src="{{ card.image_url }}" 
         class="card-img-top" 
         alt="{{ card.title }}"
         loading="lazy"
         style="cursor: pointer;"
        >
    {% endif %}
    
    {% if show_add_button and deck %}
    <div class="card-footer p-1" style="background-color: #9AA9E3; padding: 5px;">
        <div class="d-flex align-items-center">
            <input type="number"
                   name="quantity"
                   class=""
                   style="width: 40px"
                   value="1"
                   min="1"
                   max="4"
                   style = "margin-right: 5px;">
            <input type="hidden" name="card_id" value="{{ card.card_id }}">
            <button class="btn btn-sm btn-primary flex-grow-1"
                    hx-post="{% url 'core:add_card_to_deck' deck.deck_id %}"
                    hx-include="[name='quantity'], [name='card_id']"
                    hx-target="#deck-cards">
                Add
            </button>
        </div>
    </div>
    {% endif %}
 </form>

 
 <style>
 .pmon-card img {
    max-height: 200px;
    object-fit: contain;
 }
 
 .pmon-card {
    border: none;
    transition: transform 0.2s;
 }
 
 /*.pmon-card:hover {
    transform: translateY(-5px);
 }*/
 
 dl {
    margin-bottom: 0;
 }
 
 dt {
    font-weight: bold;
    margin-top: 0.5rem;
 }
 
 dd {
    margin-left: 1rem;
 }
 </style>