{% extends 'base.html' %} {% block title %}Pocket Builds{% endblock %} 
{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <h1 class="display-4 fw-bold">Build And Share Your TCG Pocket Decks</h1>
    <p class="lead mb-4">
      Discover winning strategies, share your builds, and react to the builds of others.
    </p>

  </div>

  <!-- Trending Decks Section -->
  <section class="mb-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Trending Decks</h2>
    
    </div>

    <div id="trending-decks" class="row row-cols-1 row-cols-md-3 g-4">
      {% include '_trending_decks.html' %}
    </div>
    <div id="loading" class="htmx-indicator">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </section>
</div>
{% endblock %}
