.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.navbar-logo {
  width: 10em;
  height: 3em;
  /* clip-path: inset(25% 15% 25% 15%); Crops 25% from top and bottom */
  /* or circle: */
  /* clip-path: circle(40% at center); */
}
.navbar-brand img {
  transition: transform 0.3s ease;
}
.navbar-brand:hover img {
  transform: rotate(180deg);
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
}

/* static/css/components.css */
.pmon-card {
  transition: transform 0.2s ease;
  /*height: 17.6rem !important;
  width: 13.2rem;*/
}

.pmon-card:hover {
  transform: translateY(-5px);
}

.deck-card {
  transition: all 0.3s ease;
}

.deck-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.reactions-summary {
  font-size: 0.875rem;
}

/* Color badges */
.badge.bg-grass { background-color: #78C850; }
.badge.bg-fire { background-color: #F08030; }
.badge.bg-water { background-color: #6890F0; }
.badge.bg-lightning { background-color: #F8D030; }
/* ... add other color classes ... */

.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

/* Color classes for the preview */
.grass { background-color: #78C850; }
.fire { background-color: #F08030; }
.water { background-color: #6890F0; }
.lightning { background-color: #F8D030; }
.fighting { background-color: #C03028; }
.psychic { background-color: #F85888; }
.colorless { background-color: #A8A878; }
.darkness { background-color: #705848; }
.metal { background-color: #B8B8D0; }
.dragon { background-color: #7038F8; }
.fairy { background-color: #EE99AC; }

.required::after {
  content: " *";
  color: red;
}